// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #96DFA8;
}

.main-section {
  padding: 15px;
  font-family: 'Barlow Condensed', sans-serif;
}

.section {
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.section .fa {
  font-size: 17px;
  margin-right: 5px;
  cursor: pointer;
}
.fa-red-color {
  color: red;
}

.section:hover, .section:hover.section img {
  box-shadow: 1px 2px 24px 0px #000;
  transition: 0.5s;
}

.section h1 {
  margin: 0px;
  font-size: 25px;
  color: #8B95A5;
}

.section p {
  margin: 0px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.section img {
  height: 100%;
  max-width: 128px;
  max-height: 128px;
  margin: 20px 0px 10px 24px;
}

.user-detail {
  background-color: #FCFDDB;
  border-top: 1px solid #d2d2d2;
  padding: 5px 0px;
  border-radius: 0px 0px 5px 5px;
}

.user-detail h2 {
  font-size: 20px;
  color: #a2a2a2;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}

h4 {
  color: #7ed321;
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em !important;
  line-height: 1.4;
  background-color: #f9f9f9 !important;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input:focus, select:focus {
  outline: 0;
  border-color: #64ac15;
}

input:focus, select:focus + .input-icon i {
  color: #7ed321;
}

input:focus, select:focus + .input-icon:after {
  border-right-color: #7ed321;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label,
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="radio"] + label i {
  padding-right: 0.4em;
}

input[type="radio"]:checked + label,
input:checked + label:before,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}

input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}

input:checked + label:after {
  opacity: 1;
}

select {
  height: 3.4em;
  line-height: 2;
  text-indent: 4.4em;
}

select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

select:focus,
select:active {
  outline: 0;
}

select option {
  background-color: #7ed321;
  color: #fff;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}

.input-group:before,
.input-group:after {
  content: "";
  display: table;
}

.input-group:after {
  clear: both;
}

.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding-left: 4.4em !important;
}

.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.form-container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.row {
  zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.col-half:last-of-type {
  padding-right: 0;
}

.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}

.col-third:last-of-type {
  padding-right: 0;
}

@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

/* The switch - the box around the slider */
.switch {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.addNewButton{
  height: 53px
}

#profile_view {
  .main-section{
    border:1px solid #138496;
    background-color: #fff;
  }
  .profile-header{
    background-color: #17a2b8;
    height:150px;
  }
  .user-detail{
    margin:-50px 0px 30px 0px;
    background-color: white;
  }
  .user-detail img{
    height:100px;
    width:100px;
  }
  .user-detail h5{
    margin:15px 0px 5px 0px;
  }
  .user-social-detail{
    padding:15px 0px;
    background-color: #17a2b8;
  }
  .user-social-detail a i{
    color:#fff;
    font-size:23px;
    padding: 0px 5px;
  }
}